.wrapper {
    display: flex;
    justify-content: center;
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1em;
    row-gap: 1em;
    background-color: aqua;
    margin: 1em;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    justify-self: center;
}

.login-container button {
    grid-column: 1/3;
    width: 33%;
    justify-self: center;
    min-height: 2.5em;
    font-size: medium;
    background-color:beige;
    border-radius: 7px;
}

.login-container input {
    height: 100%;
    min-height: 2em;
    align-self: center;
    width: 75%;
    justify-self: center;
}

.login-container a {
    display:block;
    text-align:center;
    grid-column: 1/3;
}

.login-container label {
    justify-self: start;
    align-self: center;
}

.login-container select {
    height: 100%;
    align-self: center;
    width: 60%;
    justify-self: center;
}
