.search-results-list-wrapper h3 {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: #0b0c10;
    background-color: #c5c6c7;
    border-radius: 5px;

}
.search-results-list-wrapper {
}

.search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:  #1f2833;
    justify-content: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    row-gap: 0.5em;
    margin: 0.5em;
}

@media only screen and (max-width: 900px) {
    .search-results {
        grid-template-columns: 1fr 1fr;
    }
    
}


@media only screen and (max-width: 740px) {
    .search-results {
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (min-width: 1900px) {
    .search-results {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}


@media only screen and (max-width: 430px) {
    .search-results {
        display: grid;
        grid-template-columns: repeat(auto-fit, 45%);
        justify-content: center;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        gap: 0.5em;
    }
  }

.search-results::-webkit-scrollbar {
    display: none;
}

.top-list-wrapper {
    display: block;
    background-color: #1f2833;
    height: min-content;
    justify-self: center;
}

.top-list {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    gap: 0.5em;
    max-width: 20em;
    justify-self: center;
    padding: 0.5em;

}

.top-list-wrapper h4 {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: #0b0c10;
    background-color: #c5c6c7;
    border-radius: 5px;
}