.search-results-list-wrapper h5 {
    margin: 0.5em 0;
    padding: 0;
    text-align: center;
}
.search-results-list-wrapper {
    border: 2px solid black;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10em);
    background-color: gray;
    justify-content: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 0.5em;
}

@media only screen and (max-width: 430px) {
    .search-results {
        display: grid;
        grid-template-columns: repeat(auto-fit, 45%);
        background-color: gray;
        justify-content: center;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        gap: 0.5em;
    }
  }

.search-results::-webkit-scrollbar {
    display: none;
}

.top-list-wrapper {
    display: block;
    background-color: aqua;
    height: min-content;
    border : 2px solid black;
}

.top-list {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    gap: 0.5em;
    max-width: 20em;
    border-top: 2px solid black;
}

.top-list-wrapper h5 {
    margin: 0.5em 0;
    text-align: center;
}